/*
  * Web Starter Kit
  *
  * Multi-screen layout styles for your page. Brought to you by the
  * Web Starter Kit team.
  *
*/
@import '_h5bp';

/*
  * Visual Style Guide styles
  * Remove if you prefer to use a CSS library, like Bootstrap
*/
@import 'components/components';

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  font-family: 'Open Sans', sans-serif;
  font-weight: lighter;
  background-color: #fff;
  box-sizing: border-box;
  min-height: 100%;
}

body.open {
  overflow: hidden;
}

.app-bar {
  display: block;
  width: 100%;
  /*position: fixed;*/
  top: 0;
  left: 0;
  background-color: #4285f4;
  overflow: hidden;
  z-index: 1;
}

.app-bar.open,
.app-bar.open ~ main {
  -webkit-transform: translate(250px, 0);
  transform: translate(250px, 0);
}

.app-bar .logo {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  font-size: 2em;
  line-height: 60px;
  margin: 0 16px;
  padding: 0;
  color: #fefefe;
  float: none;
  max-width: none;
  font-weight: 300;
  display: initial;
}

.app-bar .logo a {
  text-decoration: none;
  color: inherit;
  font-weight: normal;
}

.app-bar-actions {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  z-index: 2;
}

.app-bar button {
  width: 60px;
  height: 60px;
  background-image: none;
  background-color: transparent;
  border: none;
  padding: 0;
  display: inline-block;
  -webkit-transition: background-color 0.2s ease-out;
  transition: background-color 0.2s ease-out;
  -webkit-tap-highlight-color: transparent;
}

.app-bar button img {
  height: 24px;
  width: 24px;
}

.app-bar button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.app-bar button:focus {
  background-color: rgba(255, 255, 255, 0.2);
  outline: 0;
}

.app-bar button:active {
  background-color: rgba(255, 255, 255, 0.4);
}

.promote-layer {
  /*
    This may promote the layer to a composited
    layer.
    
    Replace with will-change when available
    
    #perfmatters
  */
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.base,
p,
ul,
ol {
  font-size: 19px;
}

.navdrawer-container {
  z-index: 1;
  position: fixed;
  top: 0;
  bottom: 0;
  width: 250px;
  height: 100%;
  background-color: #3367D6;
  color: #fefefe;
  -webkit-transform: translate(-250px, 0);
  transform: translate(-250px, 0);
  overflow-y: auto;
}

.navdrawer-container.open {
  -webkit-transform: translate(0, 0);
  transform: translate(0, 0);
}

.app-bar,
.navdrawer-container.opened,
main {
  -webkit-transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
}

.navdrawer-container h4,
.navdrawer-container ul li a {
  height: 60px;
  padding: 17px 20px;
  line-height: 1.4;
}

.navdrawer-container h4 {
  background-color: white;
  color: #3367D6;
}

.navdrawer-container ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.navdrawer-container ul li a {
  display: block;
  text-decoration: none;
  color: white;
  -webkit-transition: background-color 0.2s ease-out;
  transition: background-color 0.2s ease-out;
  white-space: nowrap;
}

.navdrawer-container ul li {
  border-bottom-style: solid;
  border-width: 1px;
  border-color: white;
  padding: 0;
}

.navdrawer-container ul li::before {
  content: none;
}

.navdrawer-container ul li a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.navdrawer-container ul li a:focus {
  background-color: rgba(255, 255, 255, 0.3);
  outline: 0;
}

.navdrawer-container ul li a:active {
  background-color: rgba(255, 255, 255, 0.4);
}

main {
  margin: 0 auto;
  margin-bottom: 3em;
  clear: both;
}

.company-logo {
    background-image: url("../images/site/001_assets_DPLogo.png");
    display:block;
    height: 137px;
    width: 237px;
    background-size: 237px 137px;
    float: left;
    background-repeat: no-repeat;
    opacity: 1;
    position: relative;
    z-index: 1;
    margin: 15px 15px 15px 15px;
}

.top-area {
    width: 100%;
    height: 170px; 
    float: left;
    position: relative;
    overflow: hidden;
    background: -webkit-linear-gradient(right, rgba(255,255,255,0.5), rgba(255,255,255,1)); 
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, rgba(255,255,255,0.5), rgba(255,255,255,1)); 
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, rgba(255,0,0,0.5), rgba(255,255,255,1)); 
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(to left, rgba(255,255,255,0.5), rgba(255,255,255,1)); 
    /* Standard syntax (must be last) */
}


.user-area{
    width: 110px;
    height:100%;
    float: right;
    position: relative;
    z-index: 1;
    
    span{
        padding-left: 10px;
        position: absolute;
        width: 100%;
        bottom: 0;
        left: 0;
        background-color: #185488;
        color: #3492D8;
    }
    
    .user-name {
        color: white;
    }
    
    .dropdown {
    width: 18px;
    height: 10px;
    display: block;
    float: right;
    position: absolute;
    top: 0;
    right: 0;  
    background-image: url("/images/site/arrow-down.png");
    background-repeat: no-repeat;
    margin: 10px 10px;
    background-repeat: no-repeat;
    }
}



.featured {
    background-image: url("/images/site/001_assets_M50.png");
    background-repeat: no-repeat;
    min-height: 400px;
    width: auto;
    background-size: cover;
    position: relative;
    text-align: center;
        
    span {
        height: 100px;
        width: 100%;
        position: absolute;
        bottom: 3px;
        left: 0;
        float: left;
        padding-top: 20px;
        text-align: left;
        color: #00447D;
        background: rgba(255,255,255,0.9);
        padding-right: 40px;
        
    }
    
    b {
        background-image: url("/images/site/001_assets_play%20button.png");
        background-repeat: no-repeat;
        width: 59px;
        height: 59px;
        display: block;
        margin-right: 30px;
        margin-left: 15px;
        float: left;

    }
}

.app-bar-container {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: block;
  width: 100%;
  min-height: 235px;
  position: relative;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  margin: 0 auto;
  background-image: url("/images/site/001_assets_galaxy%20background.png");
  background-repeat: no-repeat; 
  background-position-y: -260px;
  background-position-x: -200px;
  clear: both;
}

.head-slogan {
    color: white;
    font-size: 25px;
    text-align: center;
    clear: both;
    padding-top: 15px;
    padding-bottom: 30px;
    
    background: -webkit-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,1)); 
    /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,1)); 
    /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,1)); 
    /* For Firefox 3.6 to 15 */
    background: linear-gradient(to bottom, rgba(0,0,0,0.5), rgba(0,0,0,1)); 
    /* Standard syntax (must be last) */
}

.article {
    padding-top: 3em;
    padding-left: 1em;
    padding-right: 1em;
    text-align: justify;
    clear: both;
    h1 {
        padding-left: 15px;
        padding-right: 15px;
        color: #FF9A2D
    }
    
    h2 {
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 1em;
        font-size: 23px;
    }
    
    .read-more {
        float: right;
        height: 21px;
        width: 37px;
        display: block;
        background-image: url("/images/site/001_assets_read%20article%20prompt.png");
        background-repeat: no-repeat;
        clear: both;
    }
    
    span {
        margin-left: 15px;
        margin-right: 15px;
        display: block;
    }
    
    img {
        margin-left: auto;
        margin-right: auto;
        display: block;
        width: 100%;
    }

}

advertisements {
  margin: 0 auto;
  clear: both;
  display: block;
    img {
        width: 300px;
        margin-left: auto;
        display: block;
        margin-right: auto;
        margin-top: 30px;
        margin-bottom: 30px;
    }
}

.small-navigation {
    width: 480px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 50px;
    clear: both;
    font-weight: 600;
    ul {
        clear: both;
        li {
        float: left;
        display: block;
        font-size: 17px;
        }
    }
    .selected {
          text-decoration: underline;
    }
}

.top-navigation {
    position: absolute;
    bottom: 47px;
    left: 14em;
    ul {
     
    }
    li {
        float: left;
        display: block;
        a {
            color: #00447D;
            font-weight: 600;
        }
    }
}
footer {
  margin: 0 auto;
    .footer-image {
        background-image: url("/images/site/001_assets_MGU.png");
        background-repeat: no-repeat;
        width: 100%;
        height: 313px;
        background-size: contain;
        clear: both;
    }
    .footer-description {
        
        min-height: 250px;
        background-color: #4372FF;
        text-align: left;
        padding-left: 1.5em;
        padding-right: 1.5em;
        color: white;
        
        h1 {
        padding-top: 1.5em;
        font-size: 24px;
        }
        
        h2 {
            font-size: 18px;
        }
        
        
    }
    .copyright {
        min-height: 240px;
        background-color: #999999;
        padding-top: 40px;
        span {
            float: left;
        }
        
        .c-text {
            color: white;
            margin-top: 15px;
        }
        
        .logo {
                background-image: url("/images/site/001_assets_DPLogo%20white.png");
                background-repeat: no-repeat;
                width: 137px;
                height: 137px;
                display: block;
                margin-left: 20px;
                margin-right: 20px;
            }
    }
}

/** Normal Screens - desktops and tablets **/
@media all and (min-width: 800px) {
    
    
  .small-navigation {
    display: none;
  }
    
  .top-navigation {
    display: block;  
    float: left;
  }
    
  .featured span {
      margin-left: 32px;
      width: 61%;
      font-size: 18px
  }

  main {
//    max-width: 1024px;
    padding-top: 0;
//    min-height: initial;
  }
    
    articles {
        width: 100%;
        padding-left: 1em;
        padding-right: 1em;
        display: block;
    }
    
  .article {
    clear: none;
    width: 33%;
    float: left;  
    display: block;
      h1 {
        font-size: xx-large;
        padding-left: 0.63em;
        padding-right: 0.63em
      }
      h2 {
        font-size: large;
        padding-left: 0.63em;
        padding-right: 0.63em
      }
      span {
        font-size: normal;
        margin-left: 0.63em;
        margin-right: 0.63em;
      }
  }

    body {
        overflow-y: scroll;
    }
    
    advertisements {
        width: 100%;
        overflow: hidden;
        img {
            width: auto;
            height: 115px;
        }
    
        .second-advert {
            display: none;
        }
        
        .first-advert {
            float: left;
        }
        
        .third-advert {
            float:left; 
        }
    }
    
    .footer-description {
    
    }

}

@media all and (max-width:799px) {
  .top-navigation {
    display: none;  
  }
  .third-advert {
    display: none;
  }
}